.main-content{
  width:100%;

}
td {
  border: thin red solid;
}
.hero{
color: white;
text-align: center;
background: url("main-hero.jpg")
no-repeat center center;
background-size:cover;
height: 400px;
  }
button {
background-color: rgb(0,126,229);
width: 200px;
    color: white;
    border-radius: 5px;
    height: 40px;
    transition: all 0.2s ease-in-out;

}
body {
font-family: 'Montserrat', sans-serif;
}
.heading-row{
text-align: center;
}
.howto{
width: 200px;
border-radius: 50%;
}
.howtocell{
  text-align: center;
}
