.main-content
{
width:100%;
}

td
{
  border: thin red solid;
  vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.about-detail
{
    border: thin red solid;
    vertical-align: top;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
}

.hero
{
color: white;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
background-size: cover;
height:300px;
}

.download-hero
{
color: white;
  text-align: center;
  background: url("download-hero.jpg") no-repeat center center;
background-size: cover;
height:300px;
}

.tagline
{
  font-size: 22px;
}

.badger
{
  width: 200px;
  margin-bottom: 10px;
}

button
{
  background-color: rgb(0,126,229);
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 5px;
}

body
{
font-family: 'Montserrat', sans-serif;
}

.heading-row
{
  text-align: center;
}

.how-to-image
{
  width: 200px;
  border-radius: 50%;
}

.people-image
{
  width: 50px;
  border-radius: 50%;
}

.how-to-cell
{
  text-align: center;
}

.about-cell
{
  text-align: center;
  vertical-align: text-top;
}

.h4-foot {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.background-foot
{
  background-color: rgb(50,50,170);
  color: white;

}

.sound-bites
{
  text-align: center;
  background-color: rgb(128, 128, 128);
}

.foodhub-title
{
  color: white;
  background-color: red;
  font-family: 'Passion One', cursive;
  font-size: xx-large;
}

.primary-button {
  background-color: rgb(0,126,229);
  width: 200px;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: rgb(0, 65, 117);
}

.navigation-color
{
  color: white !important;
  background-color: red;
  vertical-align: middle;
  text-decoration: none;
}

a
{
  cursor: auto;
  color: white;
  text-decoration: none;
}

.foot-text
{
  color: white;
  margin-bottom: 10px;
}
